.user-profile-container {
  display: grid;
  grid-template-columns: 100%;
  color: var(--secondary-color);
}
.user-profile-container .user-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px solid var(--border-color);
}

.user-profile-container .user-container .profile-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--secondary-color);
  overflow: hidden;
}
.user-profile-container .user-container .profile-container img {
  width: 100%;
  position: relative;
  height: 100%;
  object-fit: cover;
}

.user-container .username {
  opacity: 50%;
}

.user-container .button-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-container .user-details {
  display: flex;
  gap: 4rem;
}

.user-details .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-profile-modal-container {
  background: var(--primary-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-sm);
  display: flex;
  color: var(--secondary-color);
  box-shadow: 0px 0px 5px 2px #181818;
  z-index: 99;
  padding: 2rem;
  gap: 1.5rem;
  flex-direction: column;
}

.edit-profile-modal-container .edit-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.edit-label input {
  padding: 0.5rem;
  border-radius: var(--border-xs);
  border: 1px solid var(--secondary-color);
  font-size: 1.25rem;
}

.edit-profile-modal-container .button-container {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}
.edit-profile-modal-container .header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
}
.edit {
  width: 100px;
  height: 100px;
  margin: auto;
  cursor: pointer;
}
.default-container {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  display: grid;
}
.camera-icon {
  color: var(--secondary-color);
  font-size: 2rem;
  position: absolute;
  left: 16rem;
  bottom: 40rem;
}
.icon{
  cursor: pointer;
}