@media (min-width: 1283px) {
  .followbar-container {
    display: block;
    border-left: 1px solid var(--border-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    gap: 2rem;
    border-right: 1px solid var(--border-color);
    padding: 1rem;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .input-field {
    padding: 0.5rem;
    border-radius: var(--border-xs);
    border: 1px solid var(--secondary-color);
    outline: none;
    font-size: 1.125rem;
  }
  .follow-card-container {
    display: flex;
    flex-direction: revert;
    align-items: center;
    gap: 1rem;
  }
  .follow-card-container .user-details {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    width: 100%;
  }

  .follow-card-container .user-details .user-detail-link {
    color: var(--secondary-color);
    text-decoration: none;
  }
  .find-users-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    z-index: 99;
    top: 4rem;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--border-xs);
    width: 21.5rem;
  }
  .find-user {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: var(--secondary-color);
  }
  .find-users-container .profile-pic-container{
    width: 50px;
  }
}
